.box0,
.box2,
.box4,
.box6,
.box8,
.box11,
.box13,
.box15,
.box17,
.box19,
.box20,
.box22,
.box24,
.box26,
.box28,
.box31,
.box33,
.box35,
.box37,
.box39,
.box40,
.box42,
.box44,
.box46,
.box48,
.box51,
.box53,
.box55,
.box57,
.box59,
.box60,
.box62,
.box64,
.box66,
.box68,
.box71,
.box73,
.box75,
.box77,
.box79,
.box80,
.box82,
.box84,
.box86,
.box88,
.box91,
.box93,
.box95,
.box97,
.box99 {
    background: rgb(0, 254, 236);
    background: radial-gradient(
        circle,
        rgba(0, 254, 236, 1) 0%,
        rgba(0, 163, 175, 1) 100%
    );
}

.box1,
.box3,
.box5,
.box7,
.box9,
.box10,
.box12,
.box14,
.box16,
.box18,
.box21,
.box23,
.box25,
.box27,
.box29,
.box30,
.box32,
.box34,
.box36,
.box38,
.box41,
.box43,
.box45,
.box47,
.box49,
.box50,
.box52,
.box54,
.box56,
.box58,
.box61,
.box63,
.box65,
.box67,
.box69,
.box70,
.box72,
.box74,
.box76,
.box78,
.box81,
.box83,
.box85,
.box87,
.box89,
.box90,
.box92,
.box94,
.box96,
.box98 {
    background: rgb(245, 255, 0);
    background: radial-gradient(
        circle,
        rgba(245, 255, 0, 1) 0%,
        rgba(133, 126, 0, 1) 100%
    );
}
